.home {
    margin: 0;
    font-family: "Golos Text", sans-serif;
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100vw;
}

.lenta {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.post__head-post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__user-avatar {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.post__image-user {
    width: 32px;
    height: 32px;
}

.post__name {
    display: inline-block;
    width: 100%;
    height: 18px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    vertical-align: middle;
    text-decoration: none;
    color: #222222;
}

.post__image-pen {
    width: 24px;
    height: 24px;
}

.post__slider {
    position: relative;
    width: 474px;
    height: 474px;
}

.post__photo-visible {
    display: block;
    width: 474px;
    height: 474px;
}

.post__photo-unvisible {
    display: none;
    width: 474px;
    height: 474px;
}

.post__button-left {
    position: absolute;
    top: 237px;
    left: 16px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    padding: 0;
    transform: scaleX(-1);

}

.post__button-right {
    position: absolute;
    top: 237px;
    left: 438px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    padding: 0;

}

.post__counter-photo {

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 16px;
    color: #ffffff;
    width: 44px;
    height: 24px;
    background-color: #22222271;
    border-radius: 20px;
}

.post__description {
    display: flex;
    flex-direction: column;
}

.post__likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background: #2222220D;
    width: 68px;
    height: 30px;
    border-radius: 8px;
}

.post__heart {
    width: 16px;
    height: 16px;
}

.post__counter-hearts {
    width: 25px;
    height: 18px;
    font-weight: 400;
    font-size: 15px;    
    line-height: 18px;
    letter-spacing: -0.15px;
    vertical-align: middle;

}

.post__text {
    width: 474px;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
}

.post__button-open {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #808080;
}

.post__date {
    width: 80;
    height: 19;
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    vertical-align: middle;
    color: #222222;
}

