.login {
    font-family: "Golos Text", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 106px;
    min-height: 100vh;
}

.login__preview {
   display: inline-block;
   position: relative;
}

.login__heading {
    font-weight: 700;
    font-size: 140px;
    line-height: 180px;
    letter-spacing: -1.5px;

    position: absolute;
    right: 167px;
    bottom: 427px;
}

.login__photo {
    width: 462px;
    height: 501px;
}

.login__form {
    display: grid;
    grid-template-rows: 88px 67px 48px;
    grid-template-columns: 343px;
    grid-gap: 16px;
}

.panel {
    display: inline-block;
}

.panel__headline-input {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
}

.panel__subtitle-input {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    color: #808080;
}

.panel__input {
    width: 343px;
    height: 44px;
    background-color: #e0e0e0;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
}

.panel__password-form {
    position: relative;
}

.panel__icon-password {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 12px;
    top: 10px;
}

.login__button {
    width: 343px;
    height: 48px;
    border-radius: 10px;
    background-color: #222222;
    border: none;

    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}