.profile {
    font-family: "Golos Text", sans-serif;
    color: #222222;
    width: 1000px;
    margin: -986px 0 0 234px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.profile__avatar {
    width: 123px;
    height: 123px;
    border-radius: 16px;
}

.profile__name {
    width: 361px;
    height: 32px;
    margin-top: 20px;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.25px;
    text-align: center;
    vertical-align: middle;

}

.profile__descreption {
    width: 361px;
    height: 36px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    text-align: center;
}

.profile__counter-posts {
    width: 101px;
    height: 30px;
    margin-top: 12px;
    background-color: #F2F3F5;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.profile__image-pictures {
    width: 16px;
    height: 16px;
}

.profile__counter-pictures {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    vertical-align: middle;
}

.profile__photo-card {
    margin: 41px 0 0 12px;
}